@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container">
    <h1 class="display-4">Welcome to Movies and TV Shows!</h1>
    <a href="/Videos/MainPage" class="btn btn-custom">WatchVideos</a>
</div>