@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container">
    <h1 class="display-4">Welcome to Movies and TV Shows!</h1>
    <p>Your ultimate destination to explore and discover your favorite films and series.</p>
    <a href="/SignInUp/Authentication" class="btn btn-custom">Sign In or Sign Up</a>
</div>